env:
  global:
  - NO_SIMPLECOV=true
  - secure: RgUUFWkKaUmLSBIjIXO0viwnubXmaf/FGYHYyu6+ZaRZff/iohReMiRRA7XHM1X+skwmSwqddOsbjb1x8e+jBIb7b3PH2MnEn9dfVC1B9mUZGTsgGFqDOfR5m7wrpXnXUfmYfko6/AE9DkXK1QFtCJOqRMr7wQGLlM1KUmAKTak=
  - secure: liGQBsU8ZwPQXuVOreTHVE3ppBHmu2HYxOYimQ3MsTmutferkgHcTO0x3uFrY/sKPbzpiiy8H0NpDKAjawwEkok8GWtdWs6+x7NkQ4pRdivAunlGPzKtYEx7rl8unhnEboXexrdxwkrdkLAh2G9bK9DN2n93qf+Y5QuKI67xwmg=
  - secure: oZHs8YJcoKWm+qSy34pzPK/vIJa091cTqLzJEw98XawgTmtsEpwkEwuLu9ZWxRPmc3TgxAlxrMOZn8ySZXVMmmHt3XnCIZJA6Ujy8VhOQ8KLaO5b/b9sOPcWkjV0Q9+orC8oTpA3SLIu/FktR0WGcrW7R54HckXMHdZVqakaRdM=
  matrix:
  - FOG_REAL=false
  - FOG_REAL=true
matrix:
  exclude:
  - rvm: 1.9.2
    env:
    - FOG_REAL=true
    - NO_SIMPLECOV=true
  - rvm: jruby-19mode
    env:
    - FOG_REAL=true
    - NO_SIMPLECOV=true
  - rvm: rbx-19mode
    env:
    - FOG_REAL=true
    - NO_SIMPLECOV=true
branches:
  only:
  - master
language: ruby
cache: bundler
rvm:
- 1.9.2
- 1.9.3
- 2.1.1
- jruby-19mode
- rbx-19mode
script: bundle exec rake test --trace
